<div *ngFor="let progressInfo of progressInfos">
  <span>{{ progressInfo.fileName }}</span>
  <mat-toolbar class="progress-bar">
    <mat-progress-bar
      color="accent"
      [value]="progressInfo.value"
    ></mat-progress-bar>
    <span class="progress">{{ progressInfo.value }}%</span>
  </mat-toolbar>
</div>
<input
#fileInput
class="hidden"
type="file"
id="fileInput"
name="fileInput"
accept="image/*"
(change)="selectFile($event)"
/>

<div>
  {{ 'selectedImage' | translate }}
</div>

<div class="max-w-[10rem] mt-2 relative" [class.w-0]="!_preview" [class.px-3]="!_preview">
  <img src="{{_preview}}" class="preview">
    <div class="absolute top-0 right-0">
      <button (click)="fileInput.click()"><mat-icon>add_a_photo</mat-icon></button>
    </div>

</div>

