<section tabindex="0" *ngIf="tradeHistory && tradeHistory.trades">
  <mat-card class="bg-base-300 border-primary border-2 text-primary max-w-lg mx-auto px-2 cursor-pointer hover:bg-base-100" *ngFor="let trade of tradeHistory.trades">
      <mat-card-title-group class="w-full">
        <mat-card-title class="text-sm !mb-0" *ngIf="!wallet"><a [routerLink]="['/wallet', trade.trader]" class="hover:text-primary-focus">{{ trade.trader }}</a></mat-card-title>
        <mat-card-subtitle class="text-white text-xs !mb-2">{{trade.timestamp | date:'dd MMM yyyy HH:mm'}}</mat-card-subtitle>
        <img class="max-h-8" src="https://bscscan.com/images/svg/brands/bnb.svg?v=1.3" >
      </mat-card-title-group>
    <mat-card-content class="text-white">
      <div class="grid grid-cols-5">
        <div class="col-span-2 text-left">
          {{ trade.tokenInModel ? trade.tokenInModel.symbol : trade.tokenIn }}
        </div>
        <div class="text-center">

          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
        <div class="col-span-2 text-right">
          {{ trade.tokenOutModel ? trade.tokenOutModel.symbol : trade.tokenOut }}

        </div>
      </div>
      <div class="grid grid-cols-2 text-xs text-gray-400 -mt-2">
        <div class="text-left">
          {{ trade.tokenInAmount | number:'1.0-6'}}
        </div>
        <div class="text-right text-xs ">
          {{ trade.tokenOutAmount | number:'1.0-6'}}
        </div>
      </div>
    </mat-card-content>
    <div class="w-fit ml-auto">
      <button class="btn btn-success btn-sm">Copy</button>
    </div>
  </mat-card>
</section>
